Repository chittyapps/chittycharge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chittyos/platform-team, @chittyos/backend-team, @chittyos/devops-team, @chittyos/security-team, @chittyos/finance-team, @chittyos/docs-team

.github/CODEOWNERS:

# ChittyCharge Code Owners
# These owners will be requested for review when someone opens a pull request.

# Global owners for everything
* @chittyos/platform-team

# Service layer owners
/src/services/ @chittyos/backend-team

# Infrastructure and deployment
/wrangler.toml @chittyos/devops-team
/.github/workflows/ @chittyos/devops-team

# Security-sensitive files
/src/middleware/auth.ts @chittyos/security-team
/src/services/stripe.service.ts @chittyos/finance-team

# Documentation
*.md @chittyos/docs-team

fix: Single worker strategy + ChittyRegistry integration
  NAMING-ARCHITECTURE.md
  src/lib/chittyconnect.ts
  wrangler.toml
Owners: @chittyos/docs-team, @chittyos/platform-team, @chittyos/devops-team

chore: Update deployment status - fully deployed to production
  DEPLOYMENT-STATUS.md
  package-lock.json
  package.json
Owners: @chittyos/docs-team, @chittyos/platform-team

fix: Allow service to start without secrets
  src/config/index.ts
Owners: @chittyos/platform-team

Add canonical CHARTER.md
  CHARTER.md
Owners: @chittyos/docs-team

Add canonical CHITTY.md
  CHITTY.md
Owners: @chittyos/docs-team

chore: wrangler audit remediation — update compat date and add observability
  wrangler.toml
Owners: @chittyos/devops-team

chore(governance): add governance gates (83a7d1d)
  .github/workflows/governance.yml
Owners: @chittyos/devops-team

chore(governance): add governance gates
  .github/workflows/governance.yml
Owners: @chittyos/devops-team

chore(governance): add governance gates
  .github/workflows/governance.yml
Owners: @chittyos/devops-team

chore(governance): add governance gates
  .github/workflows/governance.yml
Owners: @chittyos/devops-team

chore(governance): add governance gates
  .github/workflows/governance.yml
Owners: @chittyos/devops-team

chore(observability): emit OTLP to chittytrack-{traces,logs}
  wrangler.toml
Owners: @chittyos/devops-team

chore(devops): align compatibility date and upgrade agents SDK to 0.19.0
  wrangler.toml
Owners: @chittyos/devops-team
